@import "compass/css3"; // compass css3 helpers
@import "../../../../../../sass/global/variables";
@import "variables";

$grid : (12);
$cols : (1,2,3,4,5,6,7,8,9,10,11,12);
@each $total in $grid {
	@each $width in $cols {
		@if $total >= $width {
			.prototyper-col-#{$width} {
				margin-bottom: 10px;
				&.no-padding {
					padding: 0;
				}
				@media #{$small} {
					@include elgg-col($columns: 12, $total-columns: $total);
					&.no-padding {
						padding: 0;
					}
				}
				@media #{$medium} {
					@include elgg-col($columns: $width, $total-columns: $total);
					margin: 0;
					&.no-padding {
						padding: 0;
					}
				}
			}
		}
	}
}

.prototyper-row {
	@include clearfix;
	[class*="prototyper-col"] {
		@include box-sizing(border-box);
	}
}

.prototyper-fieldset {
	* {
		@include box-sizing(border-box);
	}
	&.has-legend {
		padding: 15px;
		border: 1px solid $border-color;
		margin: 15px 0;
		legend {
			font-size: 110%;
		}
	}
	.elgg-form & {
		font-size: 13px;
		@include box-shadow(0 0 3px $border-color);
		padding: 0;
		margin: 0 0 15px;
	}

	& > .elgg-head {
		@include clearfix;
		padding: 10px 0;
		margin: 0;
		background: #f4f4f4;
		border-bottom: 1px solid #ccc;
	}
	& > .elgg-body {
		@include clearfix;
		padding: 10px 0;
		margin: 0;
	}

	input[type="text"],
	input[type="password"],
	textarea {
		width: 100%;
		margin-bottom: 0;
	}
	input[type="file"] {
		width: auto;
		margin-bottom: 0;
	}
	input[type="checkbox"], input[type="radio"], select, label {
		margin-bottom: 0;
	}
	.elgg-input-access {
		width: 100%;
		max-width: 300px;
		height: 24px;
		font-size: 12px;
		padding: 2px;
	}
	.required:after {
		display: inline-block;
		width: 10px;
		margin: -5px 0 0 5px;
		content: "*";
		font-weight: bold;
		color: #ee5f5b;
	}
	label {
		display: inline-block;
	}
	label + .elgg-text-help {
		padding: 0;
	}
	.elgg-foot {
		margin-top: 10px;
		text-align: right;
	}
	& > div {
		margin: 0;
	}
	.prototyper-validation-error, .parsley-errors-list {
		padding-left: 25px;
		list-style: circle;
		color: red;
		margin: 0;
		font-size: 13px;
		line-height: normal;
		& > li {
			margin: 5px 0;
			padding: 0;
		}
	}
}

.elgg-icon {
	&.elgg-icon-prototyper-question {
		background: none;
		@include icon;
		&:after {
			content: $fa-var-question;
		}
	}
	&.elgg-icon-prototyper-round-plus {
		background: none;
		@include icon;
		&:after {
			content: $fa-var-plus-circle;
		}
	}
	&.elgg-icon-prototyper-round-minus {
		background: none;
		@include icon;
		&:after {
			content: $fa-var-minus-circle;
		}
	}
}

.prototyper-output {
	padding: 10px 0;
	.elgg-output {
		padding: 0;
		margin: 0;
	}
	p {
		padding: 0;
		margin: 0;
	}
	& > div {
		& > .prototyper-label {
			padding: 5px;
			border-bottom: 1px solid #eee;
		}
		& > .elgg-output {
			padding: 5px;
		}
	}
	.elgg-tags {
		padding: 0;
		list-style: none;
	}
}

.prototyper-image-upload-cropper {
	.elgg-text-help {
		display: none;
		margin: 0;
	}
	&.prototyper-has-preview {
		padding: 15px;
		.elgg-text-help {
			display: block;
		}
	}
}
