@import "compass/css3"; // compass css3 helpers
@import "../../../../../../mod/hypeUI/sass/global/variables";
@import "variables";

$grid : (12);
$cols : (1,2,3,4,5,6,7,8,9,10,11,12);
@each $total in $grid {
	@each $width in $cols {
		@if $total >= $width {
			.prototyper-col-#{$width} {
				margin-bottom: 10px;
				&.no-padding {
					padding: 0;
				}
				@media #{$small} {
					@include elgg-col($columns: 12, $total-columns: $total);
					&.no-padding {
						padding: 0;
					}
				}
				@media #{$medium} {
					@include elgg-col($columns: $width, $total-columns: $total);
					margin: 0;
					&.no-padding {
						padding: 0;
					}
				}
			}
		}
	}
}

.prototyper-row {
	@include clearfix;
	[class*="prototyper-col"] {
		@include box-sizing(border-box);
	}
}

.prototyper-fieldset {
	* {
		@include box-sizing(border-box);
	}
	font-size: 13px;
	&.has-legend {
		padding: 15px;
		border: 1px solid $border-color;
		margin: 15px 0;
		legend {
			font-size: 110%;
		}
	}
	input[type="text"],
	input[type="password"],
	textarea {
		width: 100%;
		margin-bottom: 0;
	}
	.elgg-input-access {
		width: 100%;
		max-width: 300px;
		height: 24px;
		font-size: 12px;
		padding: 2px;
	}
	input[type="file"], input[type="checkbox"], input[type="radio"], select, label {
		margin: 0 0 5px 0;
	}
	.required:after {
		display: inline-block;
		width: 10px;
		margin: -5px 0 0 5px;
		content: "*";
		font-weight: bold;
		color: #ee5f5b;
	}
	label {
		display: inline-block;
	}
	.elgg-head, .elgg-body {
		@include clearfix;
	}
	.elgg-foot {
		margin-top: 10px;
		text-align: right;
	}
	.prototyper-access {
		text-align: right;
	}
	.prototyper-clone {
		font-size: 16px;
		margin-left: 15px;
	}
	.prototyper-remove {
		font-size: 16px;
		margin-left: 5px;
	}
	& > div {
		margin: 0;
	}
	.elgg-form & {
		border: none;
		padding: 10px 0;
		margin: 0;
	}
	.prototyper-validation-error, .parsley-errors-list {
		padding-left: 40px;
		list-style: circle;
		font-size: 90%;
		color: red;
		& > li:last-child {
			margin-bottom: 15px;
		}
	}
}

.elgg-icon {
	&.elgg-icon-prototyper-question {
		background: none;
		@include icon;
		&:after {
			content: $fa-var-question;
		}
	}
	&.elgg-icon-prototyper-round-plus {
		background: none;
		@include icon;
		&:after {
			content: $fa-var-plus-circle;
		}
	}
	&.elgg-icon-prototyper-round-minus {
		background: none;
		@include icon;
		&:after {
			content: $fa-var-minus-circle;
		}
	}
}

.prototyper-output {
	padding: 10px;
	border-top: 1px solid $border-color;
	&:last-child {
		border-bottom: 1px solid $border-color;
	}
	.elgg-output {
		margin: 4px  0 0 4px;
	}
	p {
		margin: 0;
	}
	label {
		font-weight: normal;
		font-size: 95%;
	}
	&.even {
		background: lighten($border-color, 10%);
	}
}