.prototyper-col-1 {
  margin-bottom: 10px;
}
.prototyper-col-1.no-padding {
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .prototyper-col-1 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    float: left;
  }
  .prototyper-col-1.no-padding {
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .prototyper-col-1 {
    padding-left: 15px;
    padding-right: 15px;
    width: 8.33333%;
    float: left;
    margin: 0;
  }
  .prototyper-col-1.no-padding {
    padding: 0;
  }
}

.prototyper-col-2 {
  margin-bottom: 10px;
}
.prototyper-col-2.no-padding {
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .prototyper-col-2 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    float: left;
  }
  .prototyper-col-2.no-padding {
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .prototyper-col-2 {
    padding-left: 15px;
    padding-right: 15px;
    width: 16.66667%;
    float: left;
    margin: 0;
  }
  .prototyper-col-2.no-padding {
    padding: 0;
  }
}

.prototyper-col-3 {
  margin-bottom: 10px;
}
.prototyper-col-3.no-padding {
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .prototyper-col-3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    float: left;
  }
  .prototyper-col-3.no-padding {
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .prototyper-col-3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
    float: left;
    margin: 0;
  }
  .prototyper-col-3.no-padding {
    padding: 0;
  }
}

.prototyper-col-4 {
  margin-bottom: 10px;
}
.prototyper-col-4.no-padding {
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .prototyper-col-4 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    float: left;
  }
  .prototyper-col-4.no-padding {
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .prototyper-col-4 {
    padding-left: 15px;
    padding-right: 15px;
    width: 33.33333%;
    float: left;
    margin: 0;
  }
  .prototyper-col-4.no-padding {
    padding: 0;
  }
}

.prototyper-col-5 {
  margin-bottom: 10px;
}
.prototyper-col-5.no-padding {
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .prototyper-col-5 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    float: left;
  }
  .prototyper-col-5.no-padding {
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .prototyper-col-5 {
    padding-left: 15px;
    padding-right: 15px;
    width: 41.66667%;
    float: left;
    margin: 0;
  }
  .prototyper-col-5.no-padding {
    padding: 0;
  }
}

.prototyper-col-6 {
  margin-bottom: 10px;
}
.prototyper-col-6.no-padding {
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .prototyper-col-6 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    float: left;
  }
  .prototyper-col-6.no-padding {
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .prototyper-col-6 {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
    float: left;
    margin: 0;
  }
  .prototyper-col-6.no-padding {
    padding: 0;
  }
}

.prototyper-col-7 {
  margin-bottom: 10px;
}
.prototyper-col-7.no-padding {
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .prototyper-col-7 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    float: left;
  }
  .prototyper-col-7.no-padding {
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .prototyper-col-7 {
    padding-left: 15px;
    padding-right: 15px;
    width: 58.33333%;
    float: left;
    margin: 0;
  }
  .prototyper-col-7.no-padding {
    padding: 0;
  }
}

.prototyper-col-8 {
  margin-bottom: 10px;
}
.prototyper-col-8.no-padding {
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .prototyper-col-8 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    float: left;
  }
  .prototyper-col-8.no-padding {
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .prototyper-col-8 {
    padding-left: 15px;
    padding-right: 15px;
    width: 66.66667%;
    float: left;
    margin: 0;
  }
  .prototyper-col-8.no-padding {
    padding: 0;
  }
}

.prototyper-col-9 {
  margin-bottom: 10px;
}
.prototyper-col-9.no-padding {
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .prototyper-col-9 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    float: left;
  }
  .prototyper-col-9.no-padding {
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .prototyper-col-9 {
    padding-left: 15px;
    padding-right: 15px;
    width: 75%;
    float: left;
    margin: 0;
  }
  .prototyper-col-9.no-padding {
    padding: 0;
  }
}

.prototyper-col-10 {
  margin-bottom: 10px;
}
.prototyper-col-10.no-padding {
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .prototyper-col-10 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    float: left;
  }
  .prototyper-col-10.no-padding {
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .prototyper-col-10 {
    padding-left: 15px;
    padding-right: 15px;
    width: 83.33333%;
    float: left;
    margin: 0;
  }
  .prototyper-col-10.no-padding {
    padding: 0;
  }
}

.prototyper-col-11 {
  margin-bottom: 10px;
}
.prototyper-col-11.no-padding {
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .prototyper-col-11 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    float: left;
  }
  .prototyper-col-11.no-padding {
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .prototyper-col-11 {
    padding-left: 15px;
    padding-right: 15px;
    width: 91.66667%;
    float: left;
    margin: 0;
  }
  .prototyper-col-11.no-padding {
    padding: 0;
  }
}

.prototyper-col-12 {
  margin-bottom: 10px;
}
.prototyper-col-12.no-padding {
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .prototyper-col-12 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    float: left;
  }
  .prototyper-col-12.no-padding {
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .prototyper-col-12 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    float: left;
    margin: 0;
  }
  .prototyper-col-12.no-padding {
    padding: 0;
  }
}

.prototyper-row {
  *zoom: 1;
}
.prototyper-row:before, .prototyper-row:after {
  content: " ";
  display: table;
}
.prototyper-row:after {
  clear: both;
}
.prototyper-row [class*="prototyper-col"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.prototyper-fieldset {
  font-size: 13px;
}
.prototyper-fieldset * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
form .prototyper-fieldset {
  margin-bottom: 20px;
}
.prototyper-fieldset.has-legend {
  padding: 15px;
  border: 1px solid #dddddd;
  margin: 15px 0;
}
.prototyper-fieldset.has-legend legend {
  font-size: 110%;
}
.prototyper-fieldset input[type="text"],
.prototyper-fieldset input[type="password"],
.prototyper-fieldset textarea {
  width: 100%;
  margin-bottom: 0;
}
.prototyper-fieldset .elgg-input-access {
  width: 100%;
  max-width: 300px;
  height: 24px;
  font-size: 12px;
  padding: 2px;
}
.prototyper-fieldset input[type="file"], .prototyper-fieldset input[type="checkbox"], .prototyper-fieldset input[type="radio"], .prototyper-fieldset select, .prototyper-fieldset label {
  margin: 0 0 5px 0;
}
.prototyper-fieldset .required:after {
  display: inline-block;
  width: 10px;
  margin: -5px 0 0 5px;
  content: "*";
  font-weight: bold;
  color: #ee5f5b;
}
.prototyper-fieldset label {
  display: inline-block;
}
.prototyper-fieldset .prototyper-help {
  margin: 0 5px;
  display: inline-block;
  position: relative;
  cursor: help;
}
.prototyper-fieldset .prototyper-help .prototyper-help-text {
  width: 325px;
  border: 2px solid #dddddd;
  margin-top: 10px;
  margin-left: -13px;
  position: absolute;
  background: white;
  margin-left: -85px;
  padding: 5px;
  display: none;
}
.prototyper-fieldset .prototyper-help .prototyper-help-text:before {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #dddddd transparent;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: -10px;
}
.prototyper-fieldset .prototyper-help .prototyper-help-text:after {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent white transparent;
  left: 50%;
  margin-left: -3px;
  position: absolute;
  top: -8px;
}
.prototyper-fieldset .prototyper-help .prototyper-help-text:before, .prototyper-fieldset .prototyper-help .prototyper-help-text:after {
  left: 25%;
}
.prototyper-fieldset .prototyper-help .prototyper-help-text + input, .prototyper-fieldset .prototyper-help .prototyper-help-text + select, .prototyper-fieldset .prototyper-help .prototyper-help-text + textarea {
  margin: 10px;
}
.prototyper-fieldset .prototyper-help:hover .prototyper-help-text {
  display: block;
}
.prototyper-fieldset .elgg-head, .prototyper-fieldset .elgg-body {
  *zoom: 1;
  padding: 5px 0 0;
}
.prototyper-fieldset .elgg-head:before, .prototyper-fieldset .elgg-head:after, .prototyper-fieldset .elgg-body:before, .prototyper-fieldset .elgg-body:after {
  content: " ";
  display: table;
}
.prototyper-fieldset .elgg-head:after, .prototyper-fieldset .elgg-body:after {
  clear: both;
}
.prototyper-fieldset .elgg-foot {
  margin-top: 10px;
  text-align: right;
}
.prototyper-fieldset .prototyper-access {
  text-align: right;
}
.prototyper-fieldset .prototyper-clone {
  font-size: 16px;
  margin-left: 15px;
}
.prototyper-fieldset .prototyper-remove {
  font-size: 16px;
  margin-left: 5px;
}

.prototyper-validation-error {
  padding-left: 40px;
  margin-bottom: 15px;
  list-style: circle;
  font-size: 90%;
  color: red;
}

.elgg-icon.elgg-icon-prototyper-question {
  background: none;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.elgg-icon.elgg-icon-prototyper-question:after {
  content: "\f128";
}
.elgg-icon.elgg-icon-prototyper-round-plus {
  background: none;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.elgg-icon.elgg-icon-prototyper-round-plus:after {
  content: "\f055";
}
.elgg-icon.elgg-icon-prototyper-round-minus {
  background: none;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.elgg-icon.elgg-icon-prototyper-round-minus:after {
  content: "\f056";
}

.prototyper-output {
  padding: 10px;
  border-top: 1px solid #dddddd;
}
.prototyper-output:last-child {
  border-bottom: 1px solid #dddddd;
}
.prototyper-output .elgg-output {
  margin: 4px  0 0 4px;
}
.prototyper-output p {
  margin: 0;
}
.prototyper-output label {
  font-weight: normal;
  font-size: 95%;
}
.prototyper-output.even {
  background: #f7f7f7;
}
